.link-normal {
  background: #00F;
  color: #FFF;
  margin: 10px;
  padding: 20px;
  border: 1px solid #000;
}

.link-bloco {
  display: block;
  background: #00F;
  color: #FFF;
  margin: 10px;
  padding: 10px;
  border: 1px solid #000;
}

p {
  white-space: nowrap;
  }

body{
  background-color: #FFF ;
}
.btn {
  color:#01579b light-blue darken-4;
}